<!--
<ion-header>
        <ion-buttons left>
                <button ion-button icon-only (click)="backHistory()" >
                    <ion-icon name="arrow-back"></ion-icon>
                </button>
            </ion-buttons>
    </ion-header>
  -->
  <ion-header no-border>
    <ion-navbar transparent>
      <ion-buttons right>
        <button class="navbar-button" ion-button icon-only>
          <!--
          <ion-icon name="md-share"></ion-icon>
          -->
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

    <ion-content>
        <br> 

        <ion-card>

          <img src="{{ photos[0] }}">
              <ion-fab right top>
               
              </ion-fab>
            
                  
            
            </ion-card>
            
           
                  
    </ion-content>