<ion-header>
       
      </ion-header>
      
      <ion-content padding class="bg-style">
          <br> 

          <ion-card>

                <img src="../../assets/images/Profile_dominic2.jpg">
                <ion-fab right top>
                  <button ion-fab (click)="goToHome()">
                        <ion-icon ios="ios-close" md="md-close" ></ion-icon>
                  </button>
                </ion-fab>
              
              
                <ion-item>
                
                  <button ion-button icon-start clear item-end (click)="goToHome()">
                        <ion-icon ios="ios-close-circle" md="md-close-circle" ></ion-icon>
                       
                    Close
                  </button>
          
                </ion-item>
              
              </ion-card>
              

                    
      </ion-content>