<ion-header>
        <ion-navbar>
            <ion-title>
                Programme Page
            </ion-title>
    
        </ion-navbar>
    </ion-header>
    
    <ion-content padding>
       
      
        <div>
            <ion-segment [(ngModel)]="homeSegment" checked>
        
              <ion-segment-button value="Details" >
                  <p class="item-title">Details</p>
              </ion-segment-button>
        
              <ion-segment-button value="Attendance" >
                <p class="item-title">Attendance</p>
            </ion-segment-button>  
            
            <ion-segment-button value="qrscan" >
              <p class="item-title">Scan QR</p>
          </ion-segment-button>  
        
            </ion-segment>
        
        
          </div>

          <div [ngSwitch]="homeSegment">

  <div *ngSwitchCase="'Details'">

            <ion-grid *ngFor="let getspecevent of showSpecEvent">
                

         
                <img style="border-radius: 9px" src="http://admin.acccim-registration.org.my{{getSpecEvent.EventImage}}" >
              
            

          
                <p  style="margin-top: 8px;"><b>{{getSpecEvent.EventTitle}}</b></p>           
                <h3 style="margin-top: 8px;"><b>Date :</b>{{getSpecEvent.StartDate}}</h3>
                <h3 style="margin-top: 8px;"><b>Time :</b>{{getSpecEvent.StartTime}}</h3>
                <!--<div *ngIf="getevent && getevent.MemberAvailability_tb && getevent.MemberAvailability_tb[0]"></div>-->
               
           
             
        </ion-grid>             
       </div>   
       
       
       <div *ngSwitchCase="'Attendance'">

            <ion-list class="menu-list" no-lines>
            
                    <ion-item class="side-menu-item" >
                       
                        <ion-card>
                            <ion-grid>
                                <ion-row >
                                  <ion-col col-2>
                
                            <ion-avatar style="margin-top: 10px;">
                                <img style="width: 50px; height: 50px;" src="../../assets/images/Profile_wangyuhen2.jpg" >
                              </ion-avatar>
                            
                
                            </ion-col>
                
                            <ion-col col-5> 
                                          
                                <h3 style="margin-top: 8px;">Wang Yu Hen</h3>
                                <p>Member</p> 
                                <p>YEC Forum 2</p>   
                              </ion-col>   
          
                              <ion-col col-1>   
                                  <ion-icon style="margin-top: 23px; color:green " ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>                      </ion-col>    
                                
                                <ion-col col-4> 
                                          
                                   <p style="margin-top: 13px;">Date : 29/7/2019</p>
                                   <p>Time : 7.03pm</p>
                                  </ion-col>   
          
                          </ion-row>
                        </ion-grid>             
                              </ion-card>
            
            
                              <ion-card>
                                  <ion-grid>
                                      <ion-row >
                                        <ion-col col-2>
                      
                                  <ion-avatar style="margin-top: 10px;">
                                      <img style="width: 50px; height: 50px;" src="../../assets/images/Profile_dominic2.jpg" >
                                    </ion-avatar>
                                  
                      
                                  </ion-col>
                      
                                  <ion-col col-5> 
                                                
                                      <h3 style="margin-top: 8px;">Dominic Teh</h3>
                                      <p>Invited Guest Local</p> 
                                      <p>YEC Forum 2</p>   
                                    </ion-col>   
                
                                    <ion-col col-1>   
                                        <ion-icon style="margin-top: 23px; color:red; " ios="ios-close-circle" md="md-close-circle"></ion-icon>                      </ion-col>    
                                      
                                      <ion-col col-4> 
                                                
                                         <p style="margin-top: 13px;">Date : 29/7/2019</p>
                                         <p>Time : 7.03pm</p>
                                        </ion-col>   
                
                                </ion-row>
                              </ion-grid>             
                                    </ion-card>
            
                                    <ion-card>
                                        <ion-grid>
                                            <ion-row >
                                              <ion-col col-2>
                            
                                        <ion-avatar style="margin-top: 10px;">
                                            <img style="width: 50px; height: 50px;" src="../../assets/images/profile_julian.JPG" >
                                          </ion-avatar>
                                        
                            
                                        </ion-col>
                            
                                        <ion-col col-5> 
                                                      
                                            <h3 style="margin-top: 8px;">Julian Saik Weng Kong</h3>
                                            <p>Commitee</p> 
                                            <p>YEC Forum 2</p>   
                                          </ion-col>   
                      
                                          <ion-col col-1>   
                                              <ion-icon style="margin-top: 23px; color:#ED6D10; " ios="ios-remove-circle" md="md-remove-circle"></ion-icon>                      </ion-col>    
                                            
                                            <ion-col col-4> 
                                                      
                                               <p style="margin-top: 13px;">Date : 29/7/2019</p>
                                               <p>Time : 7.03pm</p>
                                              </ion-col>   
                      
                                      </ion-row>
                                    </ion-grid>    
                                    </ion-card>         
                                          
                                               
                    </ion-item>
            
                  </ion-list>

        </div>


        <div *ngSwitchCase="'qrscan'">
<br>
          <button ion-button full icon-left (click)="scanCode()"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button>

      
          <ion-card *ngIf="scannedCode">
                  <ion-card-content>
                      <p>Result from Scan: {{ scannedCode }}</p>
                  </ion-card-content>
          
              </ion-card>
      

        </div>
                  
    </div>
    </ion-content>