page-home {
    ion-title {
        p {
            font-weight: bold;
            font-size: 18px;
        }

        ion-icon {
            margin-left: 5px;
            font-size: 14px;
            font-weight: bold;
        }
    }

    .content {
        .segment-md .segment-button {
            font-weight: bold;
            font-family: 'FuturaTEEMed Regular';
        }

        .freeDeliveryReturns {
            color: map-get($colors, primary);
            margin-top: 10px;
            height: 25px;

            p {
                color: white;
                text-transform: none;
                font-size: 16px;
            }
        }

        img {
            height: 100%;
            width: 100%;
        }

        .item-title {
            margin: 10px 0 0 0;
        }

        .item-subtitle {
            margin: 5px 0;
            color: gray;
        }
    }

.col{
padding:1px;

}
.card-header-md{
    padding:0px;
    
    }

    .segment-md .segment-button {
     color:#ED6D10; 
    }
    
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: #ED6D10;
    }

    ion-slide.swiper-slide {
        left: 25%;
    }
    
    .slide-zoom {
        background: #f7f7f7;
    }
 
    .thumb-img {
        padding: 1px;
    }

    .swiper-slide{
        position: initial;
    }

    .allphoto {
        height: 100%;
        width: 100%;
      }
      .larger {
        font-size: 35px;
    }
}

