<ion-header>
  <ion-navbar>
  

    <ion-title>
<h2> Admin</h2>
      <!---
        <button class="navbar-button" ion-button clear (click)="showPopOver($event)">
        <p>{{ pageTitle }}</p>
        <ion-icon name="ios-arrow-down"></ion-icon>
      </button>
    -->
    </ion-title>

    <ion-buttons right>

      <!--
      <button class="navbar-button" ion-button icon-only (click)="goToSavedItems()">
        <ion-icon name="md-heart-outline"></ion-icon>
      </button>
    -->


      <button class="navbar-button" ion-button icon-only>

        <ion-icon ios="ios-search" md="md-search"></ion-icon>
        <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div>
    <ion-segment [(ngModel)]="homeSegment" checked>

      <ion-segment-button value="home" >
          <p class="item-title">Programme</p>
      </ion-segment-button>

      <ion-segment-button click="changeTab('member')" value="visitor" >
        <p class="item-title">Visitor</p>
    </ion-segment-button>


    
    </ion-segment>


  </div>

  <div [ngSwitch]="homeSegment">


      <div *ngSwitchCase="'home'">
  
          <br>
          
          
          <ion-list class="menu-list" no-lines>
                      
            
              <ion-item class="side-menu-item" >
          
          
                  <ion-grid>
                    <!--
                      <ion-row >
                        <ion-col col-1>
                  <ion-icon ios="ios-options" md="md-options" style="color:#ED6D10;"></ion-icon>
                        </ion-col>
          
                        <ion-col col-3>
                            <p>Filter</p>
                                  </ion-col>
          
          
                        </ion-row>
                      -->
                        </ion-grid>
                 
                  <ion-card *ngFor="let getevent of showEvent">
                      <ion-grid  (click)="gotoProgramme()">
                          <ion-row >
                            <ion-col col-6>
          
                   
                          <img style="width: 170px; height: 120px; border-radius: 9px" src="http://admin.acccim-registration.org.my{{getevent.EventImage}}" >
                        
                      
          
                      </ion-col>
          
                      <ion-col col-6> 
                          <ion-item text-wrap>
                          <p style="margin-top: 8px;"><b>{{getevent.EventTitle}}</b></p>           
                          <h3 style="margin-top: 8px;"><b>Date :</b>{{getevent.StartDate}}</h3>
                          <h3 style="margin-top: 8px;"><b>Time :</b>{{getevent.StartTime}}</h3>
                          <!--<div *ngIf="getevent && getevent.MemberAvailability_tb && getevent.MemberAvailability_tb[0]"></div>-->
                          <h3 style="margin-top: 8px;"><b>Opened For :</b></h3>
                            <div *ngFor="let gett of getevent.MemberAvailability_tb">
                              <h3>{{gett.MemberType}}</h3>
                            <!--</div>-->
                            
                          </div>
                        </ion-item>
                          
                     
                        </ion-col>                    
                    </ion-row>
                  </ion-grid>             
                        </ion-card>
                                             
              </ion-item>
          
            </ion-list>
          
                
           
            
              </div>



    <div *ngSwitchCase="'visitor'">

 <!--
      <ion-row>
        <button class="freeDeliveryReturns" ion-button full>
          <p>Free delivery and returns</p>
        </button>
      </ion-row>
    -->

    <ion-segment [(ngModel)]="visitorview">

      <ion-segment-button value="member">
          <p class="item-title">Member</p>
          
      </ion-segment-button>

      <ion-segment-button value="nonmember">
          <p class="item-title">Non-member</p>
      </ion-segment-button>

      <ion-segment-button value="guest">
          <p class="item-title">Guest</p>
      </ion-segment-button>

    </ion-segment>

    <div [ngSwitch]="visitorview">
      <div *ngSwitchCase="'member'">
    <ion-list class="menu-list" no-lines>
            
        <ion-item class="side-menu-item">

            <ion-card *ngFor="let getmember of showEventMember">
                <ion-grid>
                    <ion-row style="margin-top: 5px;">
                      <!--<ion-col col-4>
    
                <ion-avatar>
                    <img style="width: 50px; height: 50px;" src="http://admin.acccim-registration.org.my{{getuser.GridListing}}" >
                  </ion-avatar>
                
    
                </ion-col>-->
    
                <ion-col col-12> 
                              
                    <h3 style="margin-top: 8px;">{{getmember.EnglishName}}</h3>
                    <p>{{getmember.UserType}}</p>   
                  </ion-col>                    
              </ion-row>
                </ion-grid>             
            </ion-card>

                                        
        </ion-item>

      </ion-list>
     
     </div>

     <div *ngSwitchCase="'nonmember'">
        <ion-list class="menu-list" no-lines>
                
            <ion-item class="side-menu-item">
    
                <ion-card *ngFor="let getnonmember of showEventNonmember ">
                    <ion-grid>
                        <ion-row style="margin-top: 5px;">
                          <!--<ion-col col-4>
        
                    <ion-avatar>
                        <img style="width: 50px; height: 50px;" src="http://admin.acccim-registration.org.my{{getuser.GridListing}}" >
                      </ion-avatar>
                    
        
                    </ion-col>-->
        
                    <ion-col col-12> 
                                  
                        <h3 style="margin-top: 8px;">{{getnonmember.EnglishName}}</h3>
                        <p>{{getnonmember.UserType}}</p>   
                      </ion-col>                    
                  </ion-row>
                    </ion-grid>             
                </ion-card>
    
                                            
            </ion-item>
    
          </ion-list>
         
         </div>


         <div *ngSwitchCase="'guest'">
            <ion-list class="menu-list" no-lines>
                    
                <ion-item class="side-menu-item">
        
                    <ion-card *ngFor="let getguest of showEventGuest ">
                        <ion-grid>
                            <ion-row style="margin-top: 5px;">
                              <!--<ion-col col-4>
            
                        <ion-avatar>
                            <img style="width: 50px; height: 50px;" src="http://admin.acccim-registration.org.my{{getuser.GridListing}}" >
                          </ion-avatar>
                        
            
                        </ion-col>-->
            
                        <ion-col col-12> 
                                      
                            <h3 style="margin-top: 8px;">{{getguest.EnglishName}}</h3>
                            <p>{{getguest.UserType}}</p>   
                          </ion-col>                    
                      </ion-row>
                        </ion-grid>             
                    </ion-card>
        
                                                
                </ion-item>
        
              </ion-list>
             
             </div>

      
    
<!--
      <ion-grid>
          <ion-row>
              <ion-col col-4>
              </ion-col>

            <ion-col col-4 center>
                
                <ion-grid>
                    <ion-row>
                        <ion-col col-2>
                        </ion-col>
                        <ion-col col-8>
                            <ion-avatar>
                                  <img style="width: 90px; height: 90px; " src="../../assets/images/qr-code-orange.png"
                                  (click)="goToQR()"  >
                              
                                </ion-avatar>

                              <p style="margin-top: 8px;"> &nbsp; scan qr code</p>
                        </ion-col>

                        <ion-col col-2></ion-col>
              

                  
          </ion-row>
      </ion-grid>

      

    </ion-col>


    <ion-col col-4>
      </ion-col>

    </ion-row>
    </ion-grid>
  -->
      
    </div>
    </div>


</div>


    <script src="home.js"></script>
</ion-content>

