<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo">
        <ion-img style="width: 100px; height: 100px;" src="../../assets/images/acccim_logo.gif"></ion-img>
      </div>
      
    </div>

    <!-- Login form -->
    <form class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          ID / Email
        </ion-label>
        <ion-input type="email" [(ngModel)]="user" name="user"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input type="password" [(ngModel)]="pass" name="pass"></ion-input>
      </ion-item>
    </form>

    <p text-right ion-text color="secondary" tappable (click)="forgotPass()"><strong>Forgot Password?</strong></p>

    <div>

        <ion-grid>
            <ion-row>
                <ion-col col-4>
                </ion-col>

              <ion-col col-4>
      <button ion-button icon-start block color="orange" tappable (click)="login()">
        <ion-icon name="log-in"></ion-icon>
        SIGN IN
      </button>

      </ion-col>


      <ion-col col-4>
        </ion-col>

      </ion-row>
      </ion-grid>

     
    </div>


   

  </div>
</ion-content>

